header {
    background:  linear-gradient(to top, #c0e5f6, #b6f7fc, #adfcea);
    text-align: center;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
}

.date {
    width: 80%;
    margin: 0px auto;
    font-weight: bold;
}

.checkbox {
    width: 80%;
    margin: 15px auto;
    text-align: center;
    background: linear-gradient(to right, #72797b,  white, #72797b);
    padding: 10px 0;
}

/* toggle  switch */
input {
    appearance: none;
    position: relative;
    top: 5px;
    width: 30px;
    height: 15px;
    border: 1px solid #bfdeea;
    border-radius: 7.5px;
    cursor: pointer;
}

input::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: #0b0cfb;
    transition: left .3s;
}

input:checked::after {
    left: 73%;
}


.status {
    width: 80%;
    margin: 0 auto;
    font-weight: bold;
}

#departure {
    text-decoration: underline;
}

/* button */

button {
    text-align: center;
    padding: 10px 5px;
    margin: 10px;
    border: none;
}

.button {
    text-align: center;
}

.loadEarlyButton {
    background-color: #ffa500;
}

table {
    width: 80%;
    margin: 5px auto;
    box-shadow: 0 0 13px #dcdcdc;
    border-radius: 3px;
    text-indent: 5px;
    margin-bottom: 20px;
}

td {
    width: 50%;
    vertical-align: top;
    text-align: left;
}

.flight_no {
    padding-left: 5px;
}

.loadMoreButton {
    background-color: #008000;
}

@media screen and (max-width: 850px) {
    table, tr, td {
        display: block;
        width: 100%;
    }
}